.row
  .large-6.columns
    %h3
      Welcome to Ruby Flashcards!
    %h6
    Choose a Class or Module to study it's methods.
  .large-6.columns
    = form_tag(quiz_sessions_path, :method => 'post')do
      = select_tag(:category, options_for_select(@category), :class => "category_select")
      = select_tag(:object_type, options_for_select(@object_type), :class => "options_select")
      = submit_tag "Start my study session!", class: "button"
%hr/

:javascript
  var categoryObjectTypes = {
    Ruby: #{Card.category_object_types("Ruby").to_json}
  };

  $(document).ready( function() {

    function getSelectedCategory() {
      return $(".category_select").val();
    }

    function renderDependentSelect(category) {
      var select = $("#object_type");
      select.empty();
      $.each(categoryObjectTypes[category], function(i, val) {
        select.append('<option value=' + val + '>' + val + '</option>');
      });
    }

    $("#category").on("change", function(){
      renderDependentSelect(getSelectedCategory());
    });

    renderDependentSelect(getSelectedCategory());
  });
