%h1 Listing cards

%table
  %tr
    %th Term
    %th Definition
    %th Object type
    %th Example
    %th Return type
    %th Category

  - @cards.each do |card|
    %tr
      %td= card.terms.map(&:term).join(", ")
      %td{ title: card.definition }= card.definition.truncate(20)
      %td= card.object_type
      %td= card.example.html_safe
      %td= card.return_type
      %td= card.category
      %td= link_to 'Show', card
      %td= link_to 'Edit', edit_card_path(card)
      %td= link_to 'Destroy', card, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Card', new_card_path
