%p
  %b Term:
  = @card.terms.map(&:term).join(", ")
%p
  %b Definition:
  = @card.definition
%p
  %b Object type:
  = @card.object_type
%p
  %b Example:
  = @card.example.html_safe
%p
  %b Return type:
  = @card.return_type
%p
  %b Category:
  = @card.category

= link_to 'New Card', new_card_path
\|
= link_to 'Edit', edit_card_path(@card)
\|
= link_to 'Back', cards_path
