/ - if @past_quizzes.empty?
/   You haven't quized yourself yet!
/   %a{href: "/"} Quiz yourself
/ - @past_quizzes.each do |quiz|
/   %ul
/     %li
/       %a{href: "#{ stat_path(quiz.id)}"} #{ quiz.category }'s #{ quiz.object_type }
/       on #{ local_display_date(quiz.created_at) }

/ highchart possibiilities
/ http://www.highcharts.com/demo/line-time-series
/ http://www.highcharts.com/demo/bar-basic
/ http://www.highcharts.com/demo/column-negative
/ http://www.highcharts.com/demo/column-rotated-labels

/  give overall stats in the empty chunk.

.row
  .large-3.columns
    %h5 Stats
    - if @past_quizzes.empty?
      %h7 You haven't quized yourself yet!
      %a{href: "/"} Quiz yourself

    - @past_quizzes.each do |quiz|
      %ul.side-nav
        %li
          %a{href: "#{ stat_path(quiz.id)}"} #{ quiz.category }'s #{ quiz.object_type }
          on #{ local_display_date(quiz.created_at) }
