.row
  .large-4.columns
    %h5 Stats
    - if @past_quizzes.empty?
      %h7 You haven't quized yourself yet!
      %p
        = link_to("Quiz Yourself", root_path)

    - @past_quizzes.each do |quiz|
      %ul.side-nav
        %li
          %a{href: "#{ stat_path(quiz.id)}"} #{ quiz.category }'s #{ quiz.object_type }
          on #{ local_display_date(quiz.created_at) }

/ TODO:give overall stats in the empty chunk. Use show as a guide.
/ what you quizzed yourself on/ how many times.
