Congrats on taking the time to work on leveling up!
%p You got #{ @correct } correct out of #{ @question_total}.
= form_tag(quiz_sessions_path, :method => 'post')do
  = hidden_field_tag(:category, @quiz_session.category)
  = hidden_field_tag(:object_type, @quiz_session.object_type)
  = submit_tag "Quiz yourself on #{ @quiz_session.category }'s #{ @quiz_session.object_type} again?"

%a{ href: "/" } Pick something else to quiz yourself on.
%p
%a{ href: stats_path } View all your stats.
