.row
  .large-12.columns.center-text
    %p Congrats on taking the time to work on leveling up!
    %p You got #{ @correct } correct out of #{ @question_total}.
    = form_tag(quiz_sessions_path, :method => 'post')do
      = hidden_field_tag(:category, @quiz_session.category)
      = hidden_field_tag(:object_type, @quiz_session.object_type)
      = submit_tag "Quiz yourself on #{ @quiz_session.category }'s #{ @quiz_session.object_type} again?", :class => 'button center-text'
  .large-12.columns.center-text
    %a{ href: stats_path } View all your stats

/ TODO: add a graph to fill out the main body of the site.
/ google graphs or highcharts
/ highchart possibiilities
/ http://www.highcharts.com/demo/line-time-series
/ http://www.highcharts.com/demo/bar-basic
/ http://www.highcharts.com/demo/column-negative
/ http://www.highcharts.com/demo/column-rotated-labels
