<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Flashcards</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= yield :page_specific_scripts %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if user_signed_in?  %>
    <%= render 'shared/main_navigation' %>
  <% end %>
  <div class="notifications row">
    <div class="large-12 center-text">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
  </div>

  <%= yield %>

</body>
</html>
